body {
  margin: 0;
  background-color: #dde1fb;
  background-image: url(assets/gear-small.svg), url(assets/gear-big.svg);
  background-position: left 0px, right 0px;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: auto;
}

.title {
  font-size: 63px;
  font-weight: 800;
  color: #5957c0;
}

#listContainer {
  background-color: #f8f9ff;
}

.item.header {
  background-color: #e3e7ff;
  color: #b5bdff;
  border: none;
  height: 120px;
  align-items: center;
  padding: 0 0 0 70px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 44px 200px 23px 70px;
  font-size: 40px;
  font-weight: 500;
  border-bottom: 3px solid #d5d7fa;
  color: #434387;
  text-align: left;
}

.addItemImg {
  padding-right: 15px;
}

.stormy-sparky {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
